body {
  background-color: #fffeec;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.heroHeader {
  margin: 0;
  font-size: 3rem;
  font-family: "Chewy";
  max-height: 16rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.loginForm input {
  min-width: 30rem;
  border: 0rem;
  padding: 1rem;
  border-radius: 5rem;
  background-color: #93abd9;
  font-family: "Chewy";
  color: rgb(#fffeec, 30%);
  font-size: 3rem;
}

.loginForm input::placeholder {
  color: #fffeec;
}

.formOneError {
  color: rgb(240, 95, 95);
}

.heroHeader h1 {
  color: #f2619c;
  font-size: 8rem;
}

.formOneButton {
  margin-top: 1rem;
  min-width: 9rem;
  color: #fffeec;
  background-color: #f2619c;
  border: 0;
  min-height: 3rem;
  border-radius: 5rem;
  margin-left: 1rem;
  font-family: "Chewy";
}

.formOneButton:active {
  min-width: 9rem;
  color: #fffeec;
  background-color: #e0729e;
  border: 0;
  min-height: 3rem;
  border-radius: 5rem;
  margin-left: 1rem;
  transform: translateY(-0.3rem);
}
.gameListContainer {
  display: flex;
  flex-direction: column;
}
.gamecardContainer {
  margin-top: 5rem;
  background-color: #93abd9;
}

.navbarContainer {
  background-color: #e42d76;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
